// core overrides

$border-color:                      $gray-300;

// Navbar

$navbar-height:                     50px;
$navbar-bg:                         #fff;
$navbar-border: (
  bottom: (
    size:                           1px,
    style:                          solid,
    color:                          $gray-800
  )
);
$navbar-brand-width:                220px;
$navbar-brand-bg:                   #fff;
$navbar-brand-logo-size:            90px auto;
$navbar-brand-border: (
  bottom: (
    size:                           1px,
    style:                          solid,
    color:                          darken($gray-800, 10%)
  )
);

$navbar-color:                      #536c79;
$navbar-hover-color:                darken($navbar-color, 10%);
$navbar-active-color:               darken($navbar-color, 50%);
$navbar-disabled-color:             lighter($navbar-color, 20%);

// Sidebar

$sidebar-width:                     220px;
$sidebar-color:                     #536c79;
$sidebar-bg:                        #fff;
$sidebar-borders: (
  right: (
    size:                           1px,
    style:                          solid,
    color:                          $border-color
  )
);

// Sidebar Navigation

$sidebar-nav-color:                 $gray-800;
$sidebar-nav-title-padding-y:       0.95rem;
$sidebar-nav-title-color:           $text-muted;
$sidebar-nav-link-color:            $gray-800;
$sidebar-nav-link-borders: (
  bottom: (
    size:                           1px,
    style:                          solid,
    color:                          $border-color
  )
);
$sidebar-nav-link-hover-color:      $gray-800;
$sidebar-nav-link-hover-bg:         $gray-300;
$sidebar-nav-link-hover-icon-color: $gray-800 !important;

$sidebar-nav-link-active-color:     $gray-800;
$sidebar-nav-link-active-bg:        darken($sidebar-bg, 10%);
$sidebar-nav-link-active-icon-color:$gray-800;

$sidebar-nav-dropdown-color:        $gray-800;
$sidebar-nav-dropdown-bg:           darken($sidebar-bg, 3%);

$sidebar-minimizer-bg:              transparent;
$sidebar-minimizer-borders: (
  top: (
    size:                           1px,
    style:                          solid,
    color:                          $border-color
  )
);

$sidebar-minimizer-hover-bg:        $gray-300;
